# Build results
bin/
obj/
publish/
dist/
*.zip

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/
*.vsidx

# Rider
.idea/

# NuGet
*.nupkg
packages/

# Windows
Thumbs.db
desktop.ini

# Debug logs
*.log
